.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
  
.login-card {
    width: 50%;
    background-color: #f0f2f5;
    padding: 20px;
    border-radius: 15px;
}
  
.login-form-item {
    margin-bottom: 16px;
}